.nav-wrapper, .btn {
  background-color: #3f51b5;
}

.btn:hover {
  background-color: #5577d4;
}

.brand-logo > img {
  height: 30px;
  margin: 18px 0 0 15px;
}

.alarm {
  position: relative;
  margin: 30px auto;
  height: 200px;
  width: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #3f51b5; /* ff5353 */
  box-shadow: 0 0 12px 0 #3f51b5;
}

footer {
  padding: 10px;
}

code {
  white-space: pre;
}